body{
        background: linear-gradient(120deg, #4c79d3 44.9%, #F0F8FE 45%) no-repeat fixed ;
            font: normal1.5rem Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.404);
}

footer{
    color: black;
    text-align: center;
    font-weight: bold;
}